<h1>Listing users</h1>

<table class="table table-striped">
  <tr>
    <th>Account</th>
    <th>Created at</th>
    <th>Target</th>
    <th>Last checked at</th>
    <th>Last notified at</th>
    <th>#N</th>
    <th>TZ</th>
    <th>Loc</th>
  </tr>

<% @users.each do |user| %>
  <tr>
    <td><%= user.account.sub(/^(.{6}).*(.{6})/, '\1...\2') %></td>
    <td><%= user.created_at %></td>
    <td><%= user.check_target %></td>
    <td><%= user.last_checked_at %></td>
    <td><%= user.last_notified_at %></td>
    <td><%= user.notify_count %></td>
    <td><%= user.time_zone %></td>
    <td><%= user.locale %></td>
  </tr>
<% end %>
</table>
