<ul class="nav nav-tabs">
<li class="active"><a href="#settings" data-toggle="tab"><%= t ".settings" %></a></li>
<li><a href="#info" data-toggle="tab"><%= t ".info" %></a></li>
<li><a href="#manage" data-toggle="tab"><%= t ".manage" %></a></li>
</ul>

<div class="tab-content" id="main-ui">
<div class="tab-pane active" id="settings">

<%= form_for(@user) do |f| %>

<h3><%= User.human_attribute_name :check_target %></h3>
<% @user.enums(:check_target).hash.each do |k, l| %>
<label>
<%= f.radio_button :check_target, k %>
<strong><%= t "enumerated_attribute.user.check_target.#{k}" %></strong><br>
<p class="check-target-desc"><%= t ".check_target_descriptions.#{k}" %></p>
</label>
<% end %>
<p class="muted"><%= t ".target_notice" %></p>

<h3><%= User.human_attribute_name :check_interval %></h3>
<%= f.collection_select :check_interval, [2, 4, 6, 12, 24].map{|i| [i, "#{i} #{t '.hours'}"]}, :first, :last %>


<%= f.submit :class => 'btn btn-primary btn-large' %>
<% end %>
</div>


<div class="tab-pane" id="info">

<table>
<tr>
  <th><%= User.human_attribute_name :notify_email %></th>
  <td><%= @user.email %></td>
</tr>
<tr>
  <th><%= User.human_attribute_name :last_checked_at %></th>
  <td><%= @user.last_checked_at ? l(@user.last_checked_at) : t('none') %></td>
</tr>
<tr>
  <th><%= User.human_attribute_name :last_notified_at %></th>
  <td><%= @user.last_notified_at ? l(@user.last_notified_at) : t('none') %></td>
</tr>
</table>
</div>

<div class="tab-pane" id="manage">
<p class="well">
<%= link_to t(".reset_stamp_button"), reset_stamp_user_path(@user), :class => 'btn', :method => :put, :data => {:confirm => t(".reset_stamp_confirm")} %>
  <%= t ".reset_stamp_desc" %>
</p>
<p class="well">
<% if current_user && (current_user.admin? || current_user.last_checked_at.to_i < (Time.now.to_i - 600)) %>
<%= link_to t(".check_now_button"), check_user_path(@user), :class => 'btn', :method => :put %>
<% else %>
<a class="btn disabled"><%= t ".check_now_button" %></a>
<% end %>
  <%= t ".check_now_desc" %>
</p>
<p class="well">
<%= link_to t('.delete_button'), user_path(@user), :class => 'btn btn-danger', :method => :delete, :data => {:confirm => t(".delete_confirm")} %>
  <%= t ".delete_desc" %>
</p>
</div>

</div>
