<h2>Welcome! <small>- Get update notification for your google drive -</small></h2>

<div class="row">
  <div class="span8">
<p><%= t ".description" %></p>

<p><%= t ".motive" %></p>

<h3><%= t ".features" %></h3>
<ul>
  <li><%= t ".feature_1" %></li>
  <li><%= t ".feature_2" %></li>
  <li><%= t ".feature_3" %></li>
  <li><%= t ".feature_4" %></li>
</ul>

<% if !user_signed_in? %>
<p class="welcome-signin">
<%= link_to t(".sign_in_with_google"), new_user_session_path, :class => 'btn btn-large btn-primary' %>
</p>
<% end %>
  </div>
</div>
